.statusCard {
    background: #a6ac51;
    border-radius: 20px;   
}
.statusBar {
    background: #d3cab7;
    border-radius: 10px;
    //flex-wrap: nowrap;  
    //flex-flow:  nowrap;
    justify-content: space-between 
}
.ion-icon {
    font-size: 64px;
    color: #000000;
  }
 