

<ion-content [fullscreen]="true">
  <ion-card >
    <h1  >ClassName</h1>
    <ion-img  src="/assets/roskilde.svg"></ion-img>
    
  </ion-card>
  <ion-card class="statusCard">
    <ion-card class="statusBar">
      <h1>sdssdasdd</h1>
      <ion-icon  class="ion-icon" name="thermometer-outline"></ion-icon>
    </ion-card>
    <ion-card class="statusBar">
      <div class="statusbar"> <h2>sdssdasdd</h2></div>
      </ion-card>
      <ion-card class="statusBar">
        <h1>sdssdasdd</h1>
        <ion-icon  class="ion-icon" name="thermometer-outline"></ion-icon>
      </ion-card>
  </ion-card>
  
  </ion-content>
